
<%#Sorry, I couldn't this to work with HAML%>

<div id="panel">
      <input id="address" type="textbox" value="Los Angeles, CA">
      <input type="button" value="Find Prospects" onclick="codeAddress()">
    </div>
<div id='map-canvas'></div>

